<div class="container-fluid c-footer">
  <div class="container c-footer__areaContato">
    <div class="d-flex areaOptions col-sm-6 col-md-6">
      <div class="c-footer__logo">
        <img src="./assets/img/Logo.png" alt="" />
      </div>
      <div class="c-footer__list">
        <mat-list role="list">
          <mat-list-item role="listitem"
            ><a href="">Quem somos nós</a></mat-list-item
          >
          <mat-list-item role="listitem"
            ><a href="">Politica de privacidade</a></mat-list-item
          >
          <mat-list-item role="listitem"
            ><a href="">Programa fidelidade</a></mat-list-item
          >
          <mat-list-item role="listitem"
            ><a href="">Nossas lojas</a></mat-list-item
          >
          <mat-list-item role="listitem"
            ><a href="">Quero ser franqueado</a></mat-list-item
          >
          <mat-list-item role="listitem"
            ><a href="">Anuncie aqui</a></mat-list-item
          >
        </mat-list>
      </div>
    </div>
    <div class="c-footer__faleConosco">
      <h4>Fale Conosco</h4>
      <form>
        <mat-form-field appearance="outline" class="my-2">
          <mat-label>Nome</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" class="my-2">
          <mat-label>Escreva sua mensagem</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Enviar mensagem</button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="autor">
    <p>Desenvolvido por Vinicius f.</p>
  </div>
</div>
