.c-card__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  p {
    font-family: "Raleway";
  }

  img {
    width: 100%;
    height: 90%;
  }
  a {
    text-decoration: none;
    color: rgb(32, 32, 233);
  }

  a:hover {
    color: rgb(14, 7, 109);
    cursor: pointer;
  }

  &-price {
    font-family: "Courier New", Courier, monospace !important;
    
  }
}
