<div class="my-5">
  <div class="container-fluid c-banner">
    <div class="container c-banner__t-banner">
      <div class="text-white c-banner__text-banner">
        <h1>Dezembro Promocional </h1>
        <p>Produtos selecionados com 30% de desconto</p>
        <input type="button" class="btn border rounded-3" value="Ver Console" />
      </div>
    </div>
  </div>
  <!-- Itens Loja -->
  <div class="container c-items" *ngFor="let category of listCategory">
    <div class="d-flex justify-content-between align-items-center">
      <h1>{{ category }}</h1>
      <button  mat-button color="primary" 
      [routerLink]="['/todos-os-produtos']">Ver tudo<fa-icon [icon]="faarrowright" class="ms-2"></fa-icon
      ></button>
    </div>
    <app-list-products
      [listProducts]="productsByCategory(category)"
    ></app-list-products>
  </div>
</div>
