<div class="my-5 d-flex">
  <div class="c-category">
    <span>Categorias</span>
    <mat-divider class="mb-2"></mat-divider>
    <div class="c-category__list-category" [formGroup]="formCategory">
        <mat-selection-list #category >
            <mat-list-option *ngFor="let category of listCategory"  (click)="productsByCategory(category)" >
              {{category}}
            </mat-list-option>
          </mat-selection-list>
          <p>
            Opções selecionadas: {{category.selectedOptions.selected.length}}
          </p>
    </div>
  </div>

  <div class="container-xl ms-0">
    <div class="d-flex justify-content-start">
      <h1 class="">Todos os Produtos</h1>
    </div>
    <mat-divider class="mb-3"></mat-divider>
    <div class="m-3">
      <app-list-products [listProducts]="listProductsByCategory"></app-list-products>
    </div>
  </div>
</div>
