<div class="container-fluid c-product" *ngIf="product">
  <div class="c-product__description-card">
    <mat-card class="c-product__card">
      <img mat-card-image src="{{ product.img }}" class="c-product__img-card" />
      <div class="c-product__description-product">
        <mat-card-title>Produto XYZ</mat-card-title>
        <span>R$60,00</span>
        <mat-card-content class="my-4">
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
  <div class="c-similiar-products">
    <h1>Produtos similares</h1>
    <app-list-products [listProducts]="products"></app-list-products>
  </div>
</div>
